**1-Write a Python program to calculate the length of a string using 2 ways

In [3]:
name = "ammar"
print(len(name))

5

In [6]:
s = 0
for i in name:
    s +=1
s

5

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [69]:
str2 = input("inter one word: ")
if len(str2) >= 2:
    print(f"{str2[:2]}{str2[-2:]}")
else:
    print("")

inter one word: ,kjhgfd
,kfd

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [10]:
wording = input("Inter one word : ")
if len(wording) < 3:
    print(wording)
elif wording.endswith("ing"):
    print(wording + "ly")
else:
    print(f"{wording}ing")

Inter one word : pldewing
pldewingly

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [1]:
def find_longest_word(words):
    if not words:
        return None, 0

    longest_word = words[0]
    longest_length = len(words[0])

    for word in words[1:]:
        if len(word) > longest_length:
            longest_word = word
            longest_length = len(word)

    return longest_word, longest_length

word_list = ["Ammar","Ahmed","Abdelrahman"]
longest_word, length = find_longest_word(word_list)
print("Longest word:", longest_word)
print("Length of the longest word:", length)

Longest word: Abdelrahman
Length of the longest word: 11

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [11]:
exch1 = input()
if len(exch1) < 2:
    print(exch1)
else:
    print(exch1[-1] + exch1[1:-1] + exch1[0])

ammar
rmmaa

In [3]:
exch2 = input()
if len(exch2) < 2:
        print(exch2)
else:
    chars = list(exch2)
    chars[0], chars[-1] = chars[-1], chars[0]
    print("".join(chars))

ammar
rmmaa

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [34]:
odd = input()
for index, char in enumerate(odd): 
    if index % 2 == 0:
        print(char , end="")

ammar
amr

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [26]:
sentence = "amr and ahmed are friends but amr is the tallest"

words = sentence.split()

word_counts = {}

for word in words:
    if word in word_counts:
        word_counts[word] += 1
    else:
        word_counts[word] = 1

print("Occurrences of reabeted word:")
for word, count in word_counts.items():
    if count < 2:
        break
    print(f"{word}: {count}")

Occurrences of reabeted word:
amr: 2

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [60]:
u = input()
print(u.upper())
print(u.lower())

AmMaR
AMMAR
ammar

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [57]:
def main():
    reversed_string = reverse_string()
    print(reversed_string)
def reverse_string():
    r = input()
    if len(r) % 4 == 0 :
        return (r[::-1])
main()

yhgffvff
ffvffghy

**10- Write a Python program to remove a newline in Python

In [39]:
print("ay haga", end="")
print("ay haga".replace("\n",""))
print("ay haga".strip("\n"))

ay hagaay haga
ay haga

**11-Write a Python program to check whether a string starts with specified characters

In [41]:
m = input("string : ")
n = input("specified characters")
if m.startswith(n):
    print("The string starts with specified characters")
else:
    print("The string does not start with specified characters")

string : hjfddg
specified characterspoi
The string does not start with specified characters

**12- Write a Python program to add prefix text to all of the lines in a string

In [70]:
input_text = """This is line 1.
This is line 2.
And this is line 3."""

prefix = ">> "

for line in input_text.splitlines():
    print(prefix + line)

>> This is line 1.
>> This is line 2.
>> And this is line 3.

**13-Write a Python program to print the following numbers up to 2 decimal places

In [74]:
numbers = [8.14130, 1.94828, 98.613, 4.9392, 5.38656]
for number in numbers:
    print(round(number, 2))

8.14
1.95
98.61
4.94
5.39

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [82]:
numbers = [8.14130, 1.94828, 98.613, 4.9392, 5.38656]
sign = '+' if number > 0 else ''
for number in numbers:
    print(sign,round(number, 2))

+ 8.14
+ 1.95
+ 98.61
+ 4.94
+ 5.39

**15-Write a Python program to display a number with a comma separator

In [85]:
number = 1000000000000
c_number = "{:,}".format(number)
print(formatted_number)

1,000,000,000,000

**16-Write a Python program to reverse a string using 2 ways

In [71]:
string = input()
print(string[::-1])

#-------------

string2 = input()
print(''.join(reversed(string2)))

efr
rfe
erf
fre
<reversed object at 0x00000222789CA7D0>

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [80]:
input_string = input("Enter a string: ")
char_counts = {}

for char in input_string:
    if char in char_counts:
        char_counts[char] += 1
    else:
        char_counts[char] = 1

for char, count in char_counts.items():
    if count > 1:
        print(f"Character '{char}' is repeated {count} times.")

Enter a string: ammar
Character 'a' is repeated 2 times.
Character 'm' is repeated 2 times.

**18-Write a Python program to find the first non-repeating character in a given string

In [113]:
input_string1 = input("Enter a string: ")
char_counts = {}

for char in input_string1:
    if char in char_counts:
        char_counts[char] += 1
    else:
        char_counts[char] = 1

for char in input_string1:
    if char_counts[char] == 1:
        print("First non-repeating character:", char)
        break
else:
    print("There are no non-repeating characters in the string.")

Enter a string: khbj hvkuyvlk
First non-repeating character: b

**19-Write a Python program to remove spaces from a given string

In [85]:
input_string2 = input("Enter a string: ")

output_string = input_string2.replace(" ", "")

output_string2 = input_string2.strip(" ")

print("String without spaces:", output_string)

Enter a string: gfuty yfyu   uyf
String without spaces: gfutyyfyuuyf

**20-Write a Python program to count the number of non-empty substrings of a given string

In [86]:
input_string = input("Enter a string: ")

length = len(input_string)

num_substrings = (length * (length + 1)) // 2

print("Number of non-empty substrings:", num_substrings)

Enter a string: abc
Number of non-empty substrings: 6

**21-write a Python program to swap first and last element of any list.

In [5]:
l = ["ammar","ali","abdelrahman","ahmed"]
l[0], l[-1] = l[-1], l[0]
print(l)

['ahmed', 'ali', 'abdelrahman', 'ammar']

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [87]:
l = [43,67,96,23]
pos1 = int(input("pos1:"))
pos2 = int(input("pos2:"))
l[pos1 - 1], l[pos2 - 1] = l[pos2 - 1], l[pos1 - 1]
print(l)

pos1:1
pos2:3
[96, 67, 43, 23]

**23- search for the all ways to know the length of the list

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [11]:
numbers = [10, 5, 20, 15, 25, 30]
max_number = max(numbers)
print("Maximum number in the list:", max_number)

Maximum number in the list: 30

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [13]:
numbers = [10, 5, 20, 15, 25, 30]
max_number = min(numbers)
print("Minimum number in the list:", max_number)

Minimum number in the list: 5

**26-search for if an elem is existing in list

In [14]:
l = [1, 2, 3, 4, 5]

element = 3

if element in l:
    print("Element", element, "exists in the list.")
else:
    print("Element", element, "does not exist in the list.")

Element 3 exists in the list.

**27- clear python list using different ways

In [21]:
my_list = [1, 2, 3, 4, 5]

my_list.clear()

#-------------------

my_list = [1, 2, 3, 4, 5]

my_list = []

#----------------------------

my_list = [1, 2, 3, 4, 5]

my_list[:] = []

#-------------------------

my_list = [1, 2, 3, 4, 5]

del my_list

**28-remove duplicated elements from a list

In [22]:
my_list = [1, 2, 2, 3, 4, 4, 5]

my_list = list(set(my_list))

print(my_list)

[1, 2, 3, 4, 5]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [35]:
values_list = ["Gfg", 3, "is", 8]
keys_list = ["name", "id"]
for i in range(len(values_list), len(keys_list)):
    result = [{keys_list[i]: values_list[i], keys_list[i+1]: values_list[i+1]}]

print("Output:", result)

Output: [{'name': 'Gfg', 'id': 3}]

**30-write a python program to count unique values inside a list using different ways

In [92]:
# Method 1: Using set
def count_unique(lst):
    return len(set(lst))

# Method 2: Using dictionary
def count_unique_dict(lst):
    count_dict = {}
    for item in lst:
        count_dict[item] = count_dict.get(item, 0) + 1
    return len(count_dict)


test_list = [1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
print(count_unique(test_list))
print(count_unique_dict(test_list))

5
5

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [101]:
def extract_elements(lst, k):
    freq_dict = {}
    for item in lst:
        freq_dict[item] = freq_dict.get(item, 0) + 1
    result = [key for key, value in freq_dict.items() if value > k]
    return result

test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
K = 3
print(extract_elements(test_list, K))

[4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [102]:
def strongest_neighbor(lst):
    result = []
    for i in range(1, len(lst) - 1):
        result.append(max(lst[i - 1], lst[i + 1]))
    return result

# Test the function
input_list = [1, 2, 2, 3, 4, 5]
print(strongest_neighbor(input_list))

[2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [103]:
from itertools import permutations

def print_combinations(digits):
    for perm in permutations(digits):
        print(' '.join(map(str, perm)))

input_digits = [1, 2, 3]
print_combinations(input_digits)

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [104]:
def find_combinations(lst):
    result = []
    for i in range(len(lst)):
        for j in range(i + 1, len(lst) + 1):
            result.append(lst[i:j])
    return result

test_list = [1, 2, 3]
print(find_combinations(test_list))

[[1], [1, 2], [1, 2, 3], [2], [2, 3], [3]]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [105]:
from itertools import product

def unique_combinations(list1, list2):
    return [list(zip(p1, p2)) for p1, p2 in product(permutations(list1), permutations(list2))]

List_1 = ["a", "b"]
List_2 = [1, 2]
print(unique_combinations(List_1, List_2))

[[('a', 1), ('b', 2)], [('a', 2), ('b', 1)], [('b', 1), ('a', 2)], [('b', 2), ('a', 1)]]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [106]:
def remove_occurrences(lst, element):
    return [item for item in lst if item != element]

input_list = [1, 1, 2, 3, 4, 5, 1, 2, 1]
element_to_remove = 1
print(remove_occurrences(input_list, element_to_remove))

[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [107]:
list1 = ['Gfg', 'is', 'best']
list2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]

replaced_list = [list1[i] for i in list2]

print("The lists after index elements replacements is:", replaced_list)

The lists after index elements replacements is: ['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [108]:
def retain_records(records, K, N):
    return [record for record in records if record.count(K) == N]

test_list1 = [(4, 5, 5, 4), (5, 4, 3)]
K = 5
N = 2
print(retain_records(test_list1, K, N))

K = 5
N = 3
print(retain_records(test_list1, K, N))

[(4, 5, 5, 4)]
[]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [109]:
def sort_by_column(array, column):
    return sorted(array, key=lambda x: x[column])

array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
print("Sorted array specific to column 0:", sort_by_column(array, 0))
print("Sorted array specific to column 1:", sort_by_column(array, 1))
print("Sorted array specific to column 2:", sort_by_column(array, 2))

Sorted array specific to column 0: [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1: [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2: [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [110]:
def sort_dict_by_key(dictionary):
    return {k: v for k, v in sorted(dictionary.items())}

def sort_dict_by_value(dictionary):
    return {k: v for k, v in sorted(dictionary.items(), key=lambda item: item[1])}

input_dict = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
print("Sorted by key:", sort_dict_by_key(input_dict))
print("Sorted by value:", sort_dict_by_value(input_dict))

Sorted by key: {'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}
Sorted by value: {'yash': 2, 'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [111]:
def remove_keys_greater_than_k(test_dict, K):
    return {key: value for key, value in test_dict.items() if not (isinstance(value, int) and value > K)}

test_dict = {'Gfg': 3, 'is': 7, 'best': 10, 'for': 6, 'geeks': 'CS'}
K = 7
print(remove_keys_greater_than_k(test_dict, K))

{'Gfg': 3, 'is': 7, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [112]:
def concatenate_dicts(*dicts):
    result = {}
    for dictionary in dicts:
        result.update(dictionary)
    return result

dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}
print(concatenate_dicts(dic1, dic2, dic3))

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [113]:
example_dict = {'a': 1, 'b': 2, 'c': 3}

print("Keys:")
for key in example_dict:
    print(key)

print("\nValues:")
for value in example_dict.values():
    print(value)

print("\nKey-Value Pairs:")
for key, value in example_dict.items():
    print(key, ":", value)

Keys:
a
b
c

Values:
1
2
3

Key-Value Pairs:
a : 1
b : 2
c : 3

**44- Write a Python script to merge two Python dictionaries

In [114]:
def merge_dicts(dict1, dict2):
    return {**dict1, **dict2}

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
print(merge_dicts(dict1, dict2))

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [115]:
def max_min_dict_values(test_dict):
    return max(test_dict.values()), min(test_dict.values())

test_dict = {'a': 10, 'b': 20, 'c': 5}
print(max_min_dict_values(test_dict))

(20, 5)

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [117]:
def drop_empty_items(original_dict):
    return {key: value for key, value in original_dict.items() if value is not None}

original_dict = {'c1': 'Red', 'c2': 'Green', 'c3': None}
print(drop_empty_items(original_dict))

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [118]:
numbers_tuple = (1, 2, 3, 4, 5)

print(numbers_tuple[2])

3

**48-Write a Python program to unpack a tuple into several variables

In [119]:
tuple_example = (1, 2, 3)
a, b, c = tuple_example

print(a)
print(b)
print(c)

1
2
3

**49-Write a Python program to add an item to a tuple

In [121]:
print("Tuples are immutable in Python, so you cannot directly add an item to a tuple.")

Tuples are immutable in Python, so you cannot directly add an item to a tuple.

**50-Write a Python program to convert a tuple to a string

In [122]:
tuple_example = ('a', 'b', 'c')
string_example = ''.join(tuple_example)

print(string_example)

abc

**51-Write a Python program to convert a list to a tuple

In [123]:
def list_to_tuple(input_list):
    return tuple(input_list)

input_list = [1, 2, 3, 4, 5]
print(list_to_tuple(input_list))

(1, 2, 3, 4, 5)

**52-Write a Python program to reverse a tuple

In [124]:
def reverse_tuple(input_tuple):
    return input_tuple[::-1]

input_tuple = (1, 2, 3, 4, 5)
print(reverse_tuple(input_tuple))

(5, 4, 3, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [125]:
def replace_last_value(input_list, new_value):
    return [tuple(item[:-1]) + (new_value,) for item in input_list]

sample_list = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
new_value = 100
print(replace_last_value(sample_list, new_value))

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [126]:
def string_list_to_tuple(input_string):
    return tuple(input_string)

original_string = "python 3.0"
print("Original string:", original_string, type(original_string))
print("Converted tuple:", string_list_to_tuple(original_string), type(string_list_to_tuple(original_string)))

Original string: python 3.0 <class 'str'>
Converted tuple: ('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0') <class 'tuple'>

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [127]:
def average_of_tuples(input_tuple):
    flat_list = [number for tup in input_tuple for number in tup]
    return sum(flat_list) / len(flat_list)

sample_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
print(average_of_tuples(sample_tuple))

5.0

**56-Write a Python program to add member(s) to a set.

In [128]:
# Method 1: Using add() method
def add_to_set(set_var, *args):
    for item in args:
        set_var.add(item)
    return set_var

# Method 2: Using update() method
def update_set(set_var, *args):
    set_var.update(args)
    return set_var

set_var = {1, 2, 3}
print(add_to_set(set_var, 4, 5))
print(update_set(set_var, 6, 7))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [129]:
def remove_from_set(set_var, item):
    set_var.discard(item)
    return set_var

set_var = {1, 2, 3, 4, 5}
print(remove_from_set(set_var, 3))

{1, 2, 4, 5}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [130]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

intersection = set1.intersection(set2)
union = set1.union(set2)
difference = set1.difference(set2)
symmetric_difference = set1.symmetric_difference(set2)

print("Intersection:", intersection)
print("Union:", union)
print("Difference:", difference)
print("Symmetric Difference:", symmetric_difference)

Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Difference: {1, 2, 3}
Symmetric Difference: {1, 2, 3, 6, 7, 8}

**59-Write a Python program to find the maximum and minimum values in a set

In [131]:
def max_min_set(set_var):
    return max(set_var), min(set_var)

# Test the function
set_var = {1, 2, 3, 4, 5}
print(max_min_set(set_var))

(5, 1)

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [132]:
def find_pairs_with_sum(lst, target):
    pairs = []
    for i in range(len(lst)):
        for j in range(i+1, len(lst)):
            if lst[i] + lst[j] == target:
                pairs.append((lst[i], lst[j]))
    return pairs

input_list = [1, 2, 3, 4, 5]
target_value = 5
print(find_pairs_with_sum(input_list, target_value))

[(1, 4), (2, 3)]